
<div id="wrapper">
    <app-adminnav></app-adminnav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                    <div class="col-xs-4">
                        <a routerLink="../publishnews" routerLinkActive="active" class="btn btn-primary">Add New</a>
                    </div>
                        ALL POSTS
                    </h1>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <form action="" method="post">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Author</th>
                                                <th>Title</th>
                                                <th>Status</th>
                                                <th>Image</th>
                                                <th>Tags</th>
                                                <th>Date</th>
                                                <th>View Post</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                                <th>Publish</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let results of result">
                                                <td>{{results._id}}</td>
                                                <td>{{results.author}}</td>
                                                <td>{{results.title}}</td>
                                                <td>{{results.status}}</td>
                                                <td><img width="100" src="../assets/allpostpics/{{results.image}}" alt="Post Image"></td>
                                                <td>{{results.tag}}</td>
                                                <td>{{results.postdate}}</td>
                                                <td><a (click)="seePost()" style='color:green'>See Post</a></td>
                                                <td><a routerLink="../editposts" routerLinkActive="active"><span class='glyphicon glyphicon-edit' style='color: #265a88;'></span></a></td>
                                                <td><a (click)="postDel(results.author)"><i class='fa fa-times' style='color: red;'></i>delete</a></td>
                                                <td><a (click)="publish(results.author)"><p>Publish</p></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-12">
                        <div class="table-responsive">
                            <form action="" method="post">
                                <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Status</th>
                                        <th>Image</th>
                                        <th>Tags</th>
                                        <th>Date</th>
                                        <th>View Post</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                </table>
                            </form>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


